h1{
    color: blueviolet;
    margin-top: 2em;
    text-align: center;
}

.main{
    border: 2px solid rgb(173, 28, 28);
    width: 290px;
    height: 355px;
    margin: 5px auto;
}
.result{
    text-size-adjust: auto;
    width: 98%;
    background-color: rgb(39, 46, 43);
    color: rgb(200, 245, 78);
    height: 50px;
}
.btn{
    background-color: orangered;
    width: 50px;
    height: 55px;
    margin: 2px;
}
.btn1{
    background-color: orangered;
    width: 64px;
    height: 50px;
    margin: 2.5px;
}
.halfbtn{
    background-color: orangered;
    width: 108px;
    height: 55px;
    margin: 2px;
}